$back-color: #161d2f;

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40%);
  }
  60% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loadIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $back-color;
  border-radius: 20px;
  max-height: 60rem;
  margin-right: 0;
  padding: 2rem 1.75rem;
  animation: loadIn 1250ms ease;

  .logo {
    width: 2rem;
    height: auto;
    margin-bottom: 4.6875rem;
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 2.5rem;
      .button {
        border: none;
        background-color: $back-color;

        img:hover {
          cursor: pointer;
          filter: invert(37%) sepia(46%) saturate(4296%) hue-rotate(337deg)
            brightness(106%) contrast(97%);
          animation: bounce 1000ms ease-out;
        }
      }

      .button.active {
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .profile-img {
    width: 2.5rem;
    height: auto;
    margin-top: auto;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 48rem) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.3125rem 1rem 1.1875rem 1.5rem;
    margin-right: 1.5rem;

    .logo {
      margin: 0;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 2rem;

      li {
        margin: 0;
      }
    }

    .profile-img {
      width: 2rem;
      height: auto;
    }
  }
}

@media only screen and (max-width: 28.125rem) {
  header {
    padding: 1rem;
    margin-right: 0;
    margin-left: -1rem;
    border-radius: 0;

    .logo {
      width: 1.5625rem;
      height: auto;
    }

    ul {
      li {
        img {
          width: auto;
          height: 1rem;
        }
      }
    }

    .profile-img {
      width: 1.5rem;
      height: auto;
    }
  }
}
